<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
  
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/bancoec</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.connection.username">toppster</property>
    <property name="hibernate.connection.password">postgres</property>
    <property name="hibernate.show_sql">true</property>
    
    
 
    
    
    <mapping class="com.br.avaliacoes.ec.modelo.Pessoa"/>
    <mapping class="com.br.avaliacoes.ec.modelo.Grupo"/>
    <mapping class="com.br.avaliacoes.ec.modelo.Desafios"/>
    <mapping class="com.br.avaliacoes.ec.modelo.Avaliacoes"/>
    
  </session-factory>
</hibernate-configuration>